html {
    font-family: releway, sans-serif;
    font-size: 16px;
    color: #1A1A1A;
}
html, body {
    height: fit-content;
    min-height: 100%;
    width: 100%;
}

/* configuracion NAV bar */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    position: -webkit-sticky;
    top:0;
    flex-wrap: wrap;
}
nav ul {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    right:2vh;
}

nav ul li {
    padding: 2vh 3vh;
    font-weight: 100;
}
    
nav img {
    max-width: 20vh;
    padding: 2vh 3vh;

}

/* Configuración sect1*/ 
.header {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height:100vh;
    width: 100%;
}

 h1 {
    color: white;
}
#heading {
    font-size: 5.5rem;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 6vh;
}

#sect1 p {
    padding-top: 1.5%;
    text-align: center;
    color: white;
    font-weight: 100;
    letter-spacing: 0.2vh;
    font-size: 1.75rem;
    ;
}

/*section 2*/

#sect2 {
    text-align: center;
    background-color: white;
}
#sect2 img {
    max-width: 15vh;
    margin-bottom: 2vh;
}
#sect2 #subheading{
    display:inline-block;
    margin-top: 4vh;
    margin-bottom: 3.5vh;
    padding-bottom: 2vh;
    text-align:center;
    color:black;
    font-size: 3rem;
    font-weight: bold;
    border-bottom:0.7vh;
    border-color:#1DB954;;
    border-style: solid;
}
#sect2 div {
    display:flex;
    align-items: baseline;
    justify-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 12vh;
    flex-wrap: wrap;
}
#sect2 h4{
    color:#1DB954;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2vh;
}
#sect2 div article {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly; 
    margin-top: 5vh;
}
#sect2 p {
    font-weight: 100;
    font-size: 1.75rem;
    max-width: 30vh;
}

/* Section 3 */

#sect3 {
    position:relative;
    background-color: #1DB954;
    align-content: center;
    background-position: center center;
    margin-left: 2vh;
    margin-right: 2vh;
    color:white;
}
#sect3>img{
    max-width: 12vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:inline;
}
#sect3 div img {
  max-width: 35vh;
  align-items: center;
}

#sect3 #sect3-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin:10vh 10vh 0;
    flex-wrap:wrap;
    align-items:center
}
#lista-final{
    padding:5vh;
}
#kanye-heading{
    display:inline-block;
    font-size: 1.5rem;
    border-bottom:0.4vh;
    border-color:white;
    border-style: solid;
    margin-bottom: 5vh;
    letter-spacing: 4px;
    padding:2vh 0 ;
}
#sect3 h6{
    margin-bottom: 3vh;
    margin-top:3vh;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing:2px;
}
#sect3 article{
    font-weight: 100;
}

#sect3 article p{
    padding:0.75vh 0;
    font-size: 1.2rem;
}

#sect4 {
    display: none;
}
/*media querys*/

@media screen and (max-width:1000px){
    nav ul {
        display:flex;
        justify-content: flex-end;
        flex-direction: column;
        right:2vh;
        margin-right: 2vh;
        align-content: flex-end;
        

    }
    nav ul li {
        padding:2px;
        font-size: smaller;
        text-align: end;
    }
    
    }
    #sect3>img{
        display:none;
    }
    #sect3 #sect3-container {
        display: flex;
        flex-direction: column;
        justify-content: center center;
        justify-items: center;
        margin:auto;
        flex-wrap:wrap;
        align-items:center
    }
    
    #sect3 div img{
        padding-bottom: 2vh;
    }
    #sect2 {
        margin-top:3vh;
    }
    #sect2 #subheading{
        display:inline;
        margin-top: 4vh;
        margin-bottom: 3.5vh;
        padding-bottom: 2vh;
        margin-left: 0;
        margin-right: 0;
        text-align:center;
        color:black;
        font-size: 2rem;
        font-weight: bold;
        border-bottom:0.7vh;
        border-color:#1DB954;;
        border-style: solid;
    }
    #sect4 {
        display:block;
        position:relative;
        background-color: #1DB954;
        align-content: center;
        background-position: center center;
        height:10vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    #container-footer {
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: row;
    }
    #sect4 img {
        max-width: 8vh;}
    #sect4 p{
            display:inline;
            right:4vh;
            color:white;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing:2px;
            padding-left:2vh;
}
}