html {
    font-family: releway, sans-serif;
    font-size: 16px;
    color: #1A1A1A;
}

/* configuracion NAV bar */

nav {
    min-width: 100%;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
}
nav ul {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    right:2vh
}

nav ul li {
    padding: 2vh 3vh;
    font-weight: 100;
}
    
nav img {
    max-width: 20vh;
    padding: 2vh 3vh;

}

/* Configuración sect1*/ 
.header {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height:100vh;
}

 h1 {
    color: white;
}
#heading {
    font-size: 5.5rem;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 6vh;
}

#sect1 p {
    padding-top: 1.5%;
    text-align: center;
    color: white;
    font-weight: 100;
    letter-spacing: 0.2vh;
    font-size: 1.75rem;
    ;
}

/*section 2*/

#sect2 {
    text-align: center;
    background-color: white;
}
#sect2 img {
    max-width: 15vh;
    margin-bottom: 2vh;
}
#sect2 #subheading{
display:inline-block;
    margin-top: 4vh;
    margin-bottom: 3.5vh;
    padding-bottom: 2vh;
    text-align:center;
    color:black;
    font-size: 3rem;
    font-weight: bold;
    border-bottom:0.7vh;
    border-color:#1DB954;;
    border-style: solid;
}
#sect2 div {
    display:flex;
    align-items: baseline;
    justify-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 18vh;
    flex-wrap: wrap;
}
#sect2 h4{
    color:#1DB954;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2vh;
}
#sect2 div article {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly; 
}
#sect2 p {
    font-weight: 100;
    font-size: 1.75rem;
    max-width: 30vh;
}


